<div>
  <h1>Welcome</h1>

  <h3>Choose what you'd like to do<h3>

  <a href="/expendable">Find out your Expendable Income</a><br>
  <a href="/mortgage">Find out the maximum mortgage you can afford</a><br>
</div>