<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/budget_app.css">
  </head>
  
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/expendable">Expendable Income</a></li>
    <li><a href="/mortgage">Maximum Mortgage</a></li>
  </ul>

  <body> 

    <main>
      <%= yield %>
    </main>

  </body>
</html>
