<div class="login">
  <form action='/users/login' method='post'>
    <ul>
      <li class="login">
        <img src="/logo.gif" width="128" height="128">
      <li class="login">
        <label name="username">Username</label><br>
        <input type="text" name="username">
      </li>
      <li class="login">
        Password:<br>
        <input type="password" name="password"><br>
      </li>
      <button type="submit">Login</button>
    </ul>
  </form>
</div>