body {
  background-color: lightblue;
}

h1 {
  margin-top: auto;
  margin-left: auto;
  padding-top: 10px;
}

div.login {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

li.login {
  padding-bottom: 10px;
}

div {
  padding-left: 20px;
}

div ul {
  background-color: lightblue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.nav {
    float: left;
}

li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li.nav a:hover {
    background-color: #111;
}

.bills {
  display: none;
}

.bills:target {
  display: block;
}

.income {
  display: none;
}

.income:target {
  display: block;
}